<div class="container">
<ul>
    <h1>Task Manager</h1>
    <% @tasks.each do|task| %>
        <%# <li><%= task.title %>
        <li><%= link_to task.title, task_path(task), class: 'text-decoration-none text-black'%></li>
    <% end %>
    </ul>
    <%= link_to "Add", new_task_path, class: 'btn btn-primary'%>
</div>